
// DHT11 or DHT22
#define DHTTYPE DHT22

// PINs for the sensor and relay
#define DHTPIN  2 // D4
#define RELAYPIN 16 // D0

// wifi configuration
#define WIFI_SSID "your_ssid"
#define WIFI_PASSWORD "wifi_password"
#define MDNS_HOSTNAME "thermostat"

// mqtt information
#define MQTT_SERVER "10.10.10.50"
#define MQTT_USER "thermostat"
#define MQTT_PASSWORD "some_like_it_hawt"
#define MQTT_CLIENTID "tempertemper"